* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Aleo;
  background-color: #232323;
  color: #FFF;
  display: grid;
}

.root {
  max-width: 650px;
  margin: auto;
}

a {
  color: #fa5732;
  text-decoration: none;
  padding: .3rem
}

.btn {
  width: 5rem;
  margin: auto;
  background-color: #4BB543;
  border: none;
  border-radius: 5px;
  padding: .5rem;
  color: #FFF
}
